/*primera parte*/
/*fin primera parte*/

/*segunda parte*/
}
.flecha {
	margin-left: 40%;
}
.video {
	max-width: 100%;
}
.con1 {
	border-top: 1px solid gray;
}
.linea {
	margin-top: -5%;
    margin-left: 45%;
}
/*fin psegunda parte*/

/*tercera parte*/
